{% extends 'base.html' %}

{% block header %}
<header id="header" class="fixed-top ">
    <div class="container">

        <div class="logo float-left">
            <h1 class="text-light"><a href="{% url 'base_page' %}"><span>Calculus</span></a></h1>
            <!-- Uncomment below if you prefer to use an image logo -->
            <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
        </div>

        <nav class="nav-menu float-right d-none d-lg-block">
            <ul>
                <li><a href="{% url 'base_page' %}#hero">Главная</a></li>
                <li >
                    <ul>
                        <li class="drop-down active">
                            <a href="#">Методические указания</a>
                            <ul>
                                <li><a href="{% url 'math_analise' %}">Математический анализ</a></li>
                                <li><a href="{% url 'linal' %}">Линейная алгебра</a></li>
                                <li><a href="{% url 'descriptive_geo' %}">Начертательная геометрия</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li><a href="{% url 'variant:olympiad' %}">Олимпиады</a></li>

                 {% if request.user.is_authenticated %}
                <li>
                    <ul>
                        <li class="drop-down">
                            <a href="#">
                                <img class="img-circle img-fluid img-thumbnail" width="25px" height="25px" src="{{ request.user.profile.get_avatar }}">
                                {{ request.user.username }}
                            </a>
                            <ul>
                                <li><a href="{% url 'accounts:profile' %}">Личный кабинет</a></li>
                                <li><a href="{% url 'accounts:my_olympiad' %}">Мои олимпиады</a></li>
                                <li><a href="{% url 'logout' %}?next=/">Выход</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                {% else %}
                <li class="">
                    <a class="btn-get-started mt-0" href="{% url 'login' %}">Войти</a>
                </li>
                {% endif %}
            </ul>
        </nav>
        <!-- .nav-menu -->
    </div>
</header><!-- End Header -->
{% endblock %}

{% block content %}
<!-- ======= Addition Info Section ======= -->
<main id="main">
    <section class="contact">
        <div id="auth" class="container">
            <div class="section-title" data-aos="fade-up">
                <h2>Начертательная геометрия</h2>
            </div>
            <div class="col-12 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
                <div class="php-email-form w-100">
                    <p>
                        Начерта́тельная геоме́трия — инженерная дисциплина, представляющая двумерный геометрический
                        аппарат и набор алгоритмов для исследования свойств геометрических объектов.
                    </p>
                    <p>
                        Практически начертательная геометрия ограничивается исследованием объектов трёхмерного евклидова
                        пространства. Исходные данные должны быть представлены в виде двух независимых проекций. В
                        большинстве задач и алгоритмов используются две ортогональные проекции на взаимно
                        перпендикулярные плоскости.
                    </p>
                    <p>
                        В настоящее время дисциплина не имеет практической ценности в силу развития вычислительной
                        техники и аппарата линейной алгебры, но, вероятно, незаменима как составляющая общего
                        инженерного образования на машиностроительных и строительных специальностях.
                    </p>
                    <p>
                        Начерта́тельная геоме́трия — наука, изучающая пространственные фигуры при помощи их
                        проецирования (проложения) перпендикулярами на некоторые три плоскости, которые рассматриваются
                        затем совмещёнными одна с другой.
                    </p>
                    <p>
                        При обыкновенном способе изображения предметов линии, распространяющиеся вдаль от глаза
                        наблюдателя, хотя и изображаются, соответственно с тем, какими они нам представляются,
                        сокращёнными, но это сокращение определяется рисовальщиком обыкновенно на глаз, а фотографией
                        оно хотя в известных случаях и достаточно точно может быть передано, но отношение, в каком
                        потерпели сокращения разные линии изображаемого предмета, остаётся трудно определимым; вдобавок,
                        во многих случаях и фотография ведёт к перспективным ошибкам. Всякий мастер, будет ли то
                        плотник, слесарь, токарь, каменотёс и т. д., может выполнить заказанный предмет согласно желанию
                        заказчика только в том случае, если ему будет дан совершенно такой же предмет на образец, либо
                        его модель, либо конструкторский чертёж, по которому легко и точно определялись бы размеры всех
                        начерченных линий, хотя бы и таких, которые удаляются в глубь картины и потому изображаются
                        сокращёнными. Начертательная геометрия учит изготовлению таких чертежей, в которых предмет
                        изображается почти таким, каким мы его видим, и притом так, что по начерченным линиям можно в
                        точности определить размеры и истинный вид изображаемого предмета.
                    </p>
                    <div class="col-12 text-center">
<iframe width="560" height="315" src="https://www.youtube.com/embed/tqQ2kBoe4YQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
<!-- End Addition Info Section -->
{% endblock %}