{% extends 'base.html' %}

{% load static %}
{% block content %}
<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex justify-cntent-center align-items-center">
    <div id="heroCarousel" class="container carousel carousel-fade" data-ride="carousel">

        <!-- Slide 1 -->
        <div class="carousel-item active">
            <div class="carousel-container">
                <h2 class="animate__animated animate__fadeInDown">Добро пожаловать на <span>Calculus</span></h2>
                <p class="animate__animated animate__fadeInUp">
                    На данном сайте вы можете пройти различные олимпиады
                    по разделам высшей математики. Образовательный портал позиционируется как инструмент коммуникации
                    между педагогом и учащимся.
                </p>
            </div>
        </div>

        <!-- Slide 2 -->
        <div class="carousel-item">
            <div class="carousel-container">
                <h2 class="animate__animated animate__fadeInDown">Всероссийский образовательный портал для
                    учащихся </h2>
                <p class="animate__animated animate__fadeInUp">Ut velit est quam dolor ad a aliquid qui aliquid. Sequi
                    ea ut et est quaerat sequi nihil ut aliquam. Occaecati alias dolorem mollitia ut. Similique ea
                    voluptatem. Esse doloremque accusamus repellendus deleniti vel. Minus et tempore modi
                    architecto.</p>
                <a href="" class="btn-get-started animate__animated animate__fadeInUp">Read More</a>
            </div>
        </div>

        <!-- Slide 3 -->
        <div class="carousel-item">
            <div class="carousel-container">
                <h2 class="animate__animated animate__fadeInDown">Онлайн ресурс</h2>
                <p class="animate__animated animate__fadeInUp">
                    где каждый желающий может принять участие в образовательных онлайн мероприятиях.
                </p>
                <a href="" class="btn-get-started animate__animated animate__fadeInUp">Read More</a>
            </div>
        </div>

        <a class="carousel-control-prev" href="#heroCarousel" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon bx bx-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>

        <a class="carousel-control-next" href="#heroCarousel" role="button" data-slide="next">
            <span class="carousel-control-next-icon bx bx-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>

    </div>
</section>
<!-- End Hero -->

<main id="main">
    <!-- ======= Services Section ======= -->
    <section id="service" class="services">
        <div class="container">
            <div class="section-title">
                <h2>Преимущества</h2>
            </div>
            <div class="row">
                <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="fade-up">
                    <div class="icon-box icon-box-pink">
                        <div class="icon"><i class="bx bxl-dribbble"></i></div>
                        <h4 class="title"><a href="">Бесплатное участие</a></h4>
                        <p class="description">
                            Участие в олимпиаде 0 рублей. Вы оплачиваете изготовление диплома, только когда довольны
                            результатом
                        </p>
                    </div>
                </div>

                <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
                    <div class="icon-box icon-box-cyan">
                        <div class="icon"><i class="bx bx-file"></i></div>
                        <h4 class="title"><a href="">Дипломы победителям</a></h4>
                        <p class="description">
                            В наших олимпиадах нет проигравших. Дипломы получают как победители, так и участники.
                        </p>
                    </div>
                </div>

                <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
                    <div class="icon-box icon-box-green">
                        <div class="icon"><i class="bx bx-tachometer"></i></div>
                        <h4 class="title"><a href="">Уникальные задания</a></h4>
                        <p class="description">
                            Задания для олимпиад разрабатывают методисты с опытом работы в школах и высших учебных
                            заведениях.
                        </p>
                    </div>
                </div>

                <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
                    <div class="icon-box icon-box-blue">
                        <div class="icon"><i class="bx bx-world"></i></div>
                        <h4 class="title"><a href="">Участие оналайн</a></h4>
                        <p class="description">
                            Участвуйте самостоятельно из дома или всем классом (группой) на уроках
                        </p>
                    </div>
                </div>

            </div>

        </div>
    </section>
    <!-- End Services Section -->

    <!-- ======= Features Section ======= -->
    <section id="features" class="features">
        <div class="container">
            <div class="section-title">
                <h2>Особенности</h2>
                <p>
                    Данный портал предоставляет возможность прохождения всероссийских, муниципальных и городских олимпиад.
                </p>
            </div>

            <div class="row" data-aos="fade-up">
                <div class="col-md-5">
                    <img src="{% static 'img/people.png'%}" class="img-circle img-fluid" alt="">
                </div>
                <div class="col-md-7 pt-4">
                    <h3>Основные преимущества.</h3>
                    <p class="font-italic">
                        <span class="ml-4">Портал</span> для прохождения олимпиады обладает:
                    </p>
                    <ul>
                        <li><i class="icofont-check"></i> Быстрая проверка работ.</li>
                        <li><i class="icofont-check"></i> Онлайн прохождение.</li>
                        <li><i class="icofont-check"></i> Большая база вопросов.</li>
                    </ul>
                </div>
            </div>

            <div class="row" data-aos="fade-up">
                <div class="col-md-5 order-1 order-md-2 mt-6 mt-5 mt-4">
                    <img src="{% static 'img/calculus.jpg'%}" class="img-circle img-fluid" alt="">
                </div>
                <div class="col-md-7 pt-5 order-2 order-md-1">
                    <h3 class="mb-3">Поступление в вуз</h3>
                    <p class="font-italic">
                        <span class="ml-4">Олимпиады</span> сегодня превратились в альтернативный способ поступления,
                        соответственно, охватывают
                        всё большее число школьников. Важная особенность многих олимпиад — они оценивают скорее
                        способность мыслить, нежели специальные знания. В результате наша программа оказалась доступной
                        не только тем, кто заранее готовился стать лингвистом, но и ребятам с широким кругом интересов.
                        Мы надеемся, что в новом наборе студентов будет проще учить мыслить именно по-лингвистически,
                        потому что определенные задатки такого мышления у них уже есть.
                    </p>
                </div>
            </div>
        </div>
    </section>
    <!-- ======= End Features Section ======= -->

    <!-- ======= Comment Section ======= -->
    <section class="comment" data-aos="fade-up">
        <div class="container">

            <div class="section-title">
                <h2>Отзывы</h2>
            </div>
            <div class="owl-carousel comment-carousel">

                <div class="comment-item">
                    <h3>Владислава Латыпова</h3>
                    <h4>Участник</h4>
                    <p>
                        <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                        Олимпиада сложная, но очень интересная. Было над чем подумать, старалась вспомнить всё, что
                        учила. Волнение иногда мешало сосредоточиться, но, думаю, что всё у нас получится и нами будут
                        довольны.
                        <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                    </p>
                </div>

                <div class="comment-item">
                    <h3>Дмитрий Захаров</h3>
                    <h4>Призер олимпиады</h4>
                    <p>
                        <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                        В восторге от высокого научного и организационного уровня Филологической олимпиады! Участвуем
                        впервые, но планируем продолжить участвовать и в следующие годы. Спасибо организаторам!
                        <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                    </p>
                </div>

                <div class="comment-item">
                    <h3>Валерия Карелина</h3>
                    <h4>Участник</h4>
                    <p>
                        <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                        Я впервые принимала участие в олимпиаде, так как я учусь сейчас в 5 классе, но я не ожидала, что
                        это будет настолько интересно и захватывающе. Хотя некоторые задания были сложными для меня,
                        например, задание о местах Крыма, но зато я узнала много нового, проверила свои силы. В
                        следующем году планирую обязательно участвовать снова, но буду готовиться тщательнее.
                        <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                    </p>
                </div>

                <div class="comment-item">
                    <h3>Владислава Латыпова</h3>
                    <h4>Участник</h4>
                    <p>
                        <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                        Помимо поступления, олимпиада помогла мне расширить свой кругозор. Я изначально хотела пойти
                        учиться на филолога, но были сомнения, а эта олимпиада лишний раз подтвердила мой выбор. И
                        сейчас я понимаю, что я на своём месте.
                        <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                    </p>
                </div>

                <div class="comment-item">
                    <h3>Мария Пирогова</h3>
                    <h4>Победитель олимпиады</h4>
                    <p>
                        <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                        Олимпиада дала мне понимание того, что такое филология, опыт составления дайджестов и
                        выступления на публике. Я участвовала с 2013 года каждый год, и организация всегда была на
                        высшем уровне. Задания, которые были в меру сложные и интересные, проверялись быстро.
                        <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                    </p>
                </div>

            </div>

        </div>
    </section>
    <!-- ======= End Comment Section ======= --></main>

{% endblock %}

