{% extends "base.html" %}

{% block title %}Reset your password{% endblock %}

{% load static %}
{% block CssFile %}
<!-- Different support CSS Files -->
<link href="{% static 'different/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

<!-- Template Main CSS File -->
<link href="{% static 'css/style.css' %}" rel="stylesheet">
{% endblock %}

{% block header %}
{% endblock %}


{% block content %}
<!-- ======= Reset password Section ======= -->
<section class="contact mt-section">
    <div class="container">
        <div class="section-title" data-aos="fade-up">
            <h2>Профиль</h2>
            <div class="php-email-form d-flex justify-content-center flex-column">
                    <div class="col-12">Мы отправили на ваш Email инструкцию для сброса пароля.
                        Если Вы не получили письмо, то проверьте корректность данных.</div>
                    <div class="action-row d-flex mt-2 justify-content-center">
                        <button class="col-12 col-sm-12 col-xl-4 col-lg-4 btn btn-lg btn-primary btn-block" type="submit"><a class="btn" href="/">Вернуться на сайт</a></button>
                    </div>

            </div>
        </div>
    </div>
</section>
<!-- ======= End Reset password Section ======= -->
{% endblock %}

{% block footer %}
{% endblock %}

{% block JSFile %}
{% endblock %}